<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".ui.main.CollageActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/TempUCropAndroid15WorkaroundTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PhotoEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LogViewActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
    </application>

</manifest>