<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="org.pixeldroid.media_editor.videoEdit.VideoEditActivity"
            android:exported="false"/>
        <activity android:name="org.pixeldroid.media_editor.photoEdit.PhotoEditActivity" />

    </application>
</manifest>
